# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
.venv/

# Data e file temporanei
*.csv
*.pkl
*.pickle
*.json
*.db
*.npy
# Streamlit cache
.streamlit/

# Config locali
.env
config.yaml
user.json
test.py
# IDE / editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Sistema
.DS_Store
Thumbs.db

# Logs
*.log
